.app{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;;
}

.controls{
    width: 40vw;
}

.box{
    text-align: center;
    width: 40vw;
    height: 50vh;
    background-color: rgb(21, 112, 192);
    color: black;
}
.box p {
    padding: 20vh;
}